<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/show.html.erb</p>

<p>Flight booked for following:</p>
<ul>
    <% @booking.passengers.each do |passenger| %>
        <li><%= passenger.name %></li>
    <% end %>
</ul>
