<% title "Booking details" %>

<h1>Booking details</h1>

<p>Flight booked for the following:</p>
<ul id="passenger-list">
    <% @booking.passengers.each do |passenger| %>
        <li><%= passenger.name %></li>
    <% end %>
</ul>
