body {
    font-family: Arial, Helvetica, sans-serif;
}


/* buttons and dropdowns */

.button {
    font-size: 14px;
    width: 100px;
    height: 30px;
    color: white;
    background-color: rgb(96, 179, 170);
    margin-top: 10px;
}

.dropdown {
    padding-right: 10px;
    height: 20px;
}

/* home */

#home {
    display: inline-block;
    float: right;
}

/* flights */

#flight-list li {
    display: inline-block;
    padding: 5px 13px 5px 13px;
}